.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.carrito__icon{
    font-size: 2rem;
}
.comidas__eleccion{
    padding: .75rem 2rem;
}
.comidas__delete{
    padding: .75rem 8rem;
}
.comidas__button{
    background-color: yellow;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}
.comidas__button:hover{
    background-color: red;
}
.comidas__button-delete{
    background-color: red;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}
.comidas__img{
    width: 200px;
}
.comidas__total{
    width: 20%;
    background-color: green;
    padding: 5px 10px;
    border-radius: 15px;
}
.comidas__eleccion h4{
    padding: 4px 5px;
}

.lista{
    width: 40%;
    background-color: grey;
    overflow-y: auto;
    height: 80vh;
}
.lista__cantidad{
    padding-right: 25px;
}
.lista__pedido{
    padding-left: 20px;
    padding-top: 10px;
}
.pedido__img{
    width: 80px;
    margin: 5px;
}
.pedido{
    display: flex;
    justify-content: space-between;
}
.pedido__titulo--columna{
    width: 100%;
}
.pedido__cantidad{
    padding-right: 15px;
}
